html{
    height: 100%;
}
body{
    height: 100%;
	/* background: linear-gradient(90deg, rgb(40, 139, 179) 50%, rgb(218, 17, 17) 50%); */
}
h1{
    text-align: center;
}
.header{
    height: 250px;
    width: 100%;
    /* background-color: burlywood; */
    float: left;
    text-align: center;
    margin: 0px;
}
.title{
    margin-bottom: 15px;
    width: 100%;
    height: 114px;
}
#aqua{
    float: left;
    width: 35%;
    height: 100%;
}
#rematch{
    width: 40%;
    height: 45px;
    padding-top: 25px;
    margin: auto;
    margin-left: 40%;
    margin-top: 5%;
    background-color: rgb(221, 130, 10);
    opacity: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
#pokemon{
    float: left;
    width: 30%;
    height: 114px;
    padding-top: 10px;
    /* background-color: bisque; */
}
#magma{
    float: right;
    width: 35%;
    height: 100%;
}
.score{
    float: left;
    width: 40%;
    height: 90px;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.863);
    opacity: 1;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
#scoreright{
    float: right;
}
#round{
    float: left;
    width: 20%;
    height: 80px;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.pround{
    float: left;
    margin-left: 25%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.stage{
    width: 100%;
    height: 80%;
    float: left;
}
.leftside{
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgb(40, 139, 179);
}
.rightside{
    width: 50%;
    height: 100%;
    float: left;
    background-color:rgb(218, 17, 17);
}
.board{
    width: 447px;
    height: 447px;
    margin: calc(50% - 225px);
    margin-top: 5%;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.863);
    opacity: 1;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.field{
    width: 145px;
    height: 105px;
    border: 2px solid white;
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 50px;
}
#kyogre{
    margin-left: 5%;
    margin-top: 13%;
}
#kyogreimg{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}
#groudon{
    margin-right: 5%;
    margin-top: 13%;
    float: right;
}
#groudonimg{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}
